
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video,.img-tesla {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  filter: brightness(60%);
}
p{
  font-size: 20px;
  font-weight: 600;
}

.logo {
  filter: brightness(100);
  position: fixed;
  width: 120px;
}
.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;

}

h1 {
  color: white;
  font-size: 50px;
}
.info-carro {
  margin-top: 80px;
  text-align: center;
  color: white;
}
.rodape {
  text-align: center;
  margin-bottom: 15px;
  
  
}
button {
  background-color: rgb(19, 17, 17);
  color: white;
  padding: 7px 80px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

}
.texto{
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 15px;
  
}
html{
  scroll-snap-type: y mandatory;
}
.formulario{
  position: fixed;
  top: 40px;
  width: 400px;
  height: 100%;
  z-index: 3;
  left: -40%;
  transition: 1s;


}
@media (max-width:600px) {

  .formulario{
  
 display: none;
  }
  

  .rodape{
    padding: 10px;
  }
  button{
    padding: 10px;
  }
  .texto{
    margin-bottom: 110px;
  }
}